@import "../../../styles/vars";

.Navbar-mobile {
	background-color: $color-primary-primary;
	padding: 2rem 0;
	&_topBar {
		position: relative;
		z-index: 9999;
	}
	&_toggleMenuContainer {
		button {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
	svg {
		width: 100%;
	}
	&_menu {
		position: fixed;
		background-color: $color-primary-primary;
		width: 100%;
		height: 100vh;
		padding: 0;
		z-index: 9999;
		ul {
			line-height: 4rem;
		}
	}
	.Navbar_item {
		text-decoration: none;
		&-active {
			text-decoration: underline;
			color: $color-secondary-tertiary;
		}
	}
}
