@import "../../styles/vars";
@import "../../styles/mixins";

.SearchResults {
	@include mediaOver("md") {
		display: grid;
		grid-gap: $col-gutter-x;
		grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
		grid-auto-rows: 0;
	}
	@include mediaOver("xl") {
		grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
	}
}
