@import "../../../styles/vars";

.CloseIcon {
	height: 2rem;
	span {
		height: 2px;
		width: 2rem;
		display: block;
		transform: rotate(135deg);
		&:first-child {
			transform: rotate(-135deg) translate(-1px, -2px);
		}
	}
	&-white {
		span {
			background-color: $color-white;
		}
	}
	&-dark {
		span {
			background-color: $color-primary-primary;
		}
	}
}
