@import "../../styles/vars";

.Button {
	border: 0.1rem solid;
	padding: 1.1rem 2.2rem;
	border-radius: $br-common;
	transition: 0.15s;
	font-family: $type-secondary;
	font-size: inherit;
	text-decoration: none;
	cursor: pointer;
	background-color: $color-white;
	line-height: 1;
	color: $color-black;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	display: inline-flex;
	align-items: center;
	&-primary {
		&.Button {
			&-dark {
				background-color: $color-secondary-primary;
				border-color: $color-secondary-secondary;
				&:hover {
					background-color: darken($color-secondary-primary, 4%);
				}
			}
			&-light {
				background-color: $color-secondary-quaternary;
				border-color: $color-secondary-primary;
				&:hover {
					background-color: $color-white;
				}
			}
			&-white {
				background-color: $color-white;
				border-color: $color-secondary-tertiary;
				&:hover {
					background-color: $color-secondary-quaternary;
				}
			}
		}
	}
	&-secondary {
		background-color: $color-white;
		&.Button {
			&-dark {
				border-color: currentColor;
				color: $color-primary-primary;
				&:hover {
					color: $color-black;
				}
			}
			&-light {
				border-color: currentColor;
				color: $color-secondary-tertiary;
				&:hover {
					color: $color-white;
				}
			}
			&-white {
				border-color: currentColor;
				color: $color-white;
				&:hover {
					color: $color-secondary-tertiary;
				}
			}
		}
	}
	&:disabled {
		background-color: $color-lightGray !important;
		color: darken($color-gray, 20%) !important;
		border-color: currentColor !important;
		cursor: default;
	}
}
