.ArrowIcon {
	height: 0.75rem;
	margin-left: 1rem;
	transition: 0.3s;
	transform: rotate(360deg);
	flex-shrink: 0;
	path {
		color: inherit;
		fill: currentColor;
	}
	&-up {
		transform: rotate(180deg);
	}
	&-right {
		transform: rotate(270deg);
	}
	&-left {
		transform: rotate(90deg);
	}
}
