@import "vars";

@mixin mediaOver($breakpoint) {
	@if map-has-key($breakpointsMediaOver, $breakpoint) {
		@media screen and #{inspect(map-get($breakpointsMediaOver, $breakpoint))} {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin colGrid() {
	@for $j from 1 through length($bp-names) {
		@include mediaOver(#{nth($bp-names, $j)}) {
			@for $i from 1 through $col-amount {
				@if #{nth($bp-names, $j)} == "xs" {
					.col-#{$i} {
						width: (100% / $col-amount) * $i;
					}
					.offset-#{$i} {
						margin-left: (100% / $col-amount) * $i;
					}
				} @else {
					.col-#{nth($bp-names, $j)}-#{$i} {
						width: (100% / $col-amount) * $i;
					}
					.offset-#{nth($bp-names, $j)}-#{$i} {
						margin-left: (100% / $col-amount) * $i;
					}
				}
			}
		}
	}
}
