@import "_types";
@import "_vars";
@import "_mixins";

html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  :focus {
    box-shadow: $focusShadow;
    border-radius: $br-common;
    transition: boxShadow 0.3s;
  }
}
