@import "../styles/vars";

.Search {
	&_header {
		background-color: $color-primary-primary;
		background-image: url("../../public/national-cancer-institute-cT0SCB8pb04.jpg");
		background-blend-mode: soft-light;
	}
}
