@import "../../styles/vars";

.Modal_backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}
.Modal {
	z-index: 9999999999;
	overflow-x: hidden;
	overflow-y: scroll;
	min-height: min-content;
	height: auto;
	max-height: 100%;
	&_content {
		max-width: calc(100% - $spacing-2 * 2);
		left: 50%;
	}
	&_content-center {
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&_content-top {
		padding: $spacing-2 0;
		transform: translateX(-50%);
	}
}
