@import "../../styles/vars";

.Modal {
	z-index: 9999;
	&_backdrop {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.75);
	}
	&_content {
		height: calc(100% - $spacing-2 * 2);
		width: calc(100% - $spacing-2 * 2);
		left: $spacing-2;
		top: 50%;
		transform: translateY(-50%);
		@media screen and (min-width: $bp-lg) {
			height: auto;
		}
	}
}
