@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.ModelDetails {
	&_metadata span {
		font-size: 1.3rem;
		color: $color-primary-secondary;
		font-family: $type-primary;
		line-height: 1.2;
	}
	&_tableContainer {
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 0px;
			height: 3px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.15);
			border-radius: 500px;
		}
		@include mediaOver("md") {
			&::-webkit-scrollbar {
				height: 5px;
			}
		}
	}
	&_publicationContainer {
		border-color: darken($color-gray, 10%);
	}
	&_histology {
		font-size: 2.7rem;
		@include mediaOver("sm") {
			font-size: 3.2rem;
		}
	}
}
