@import "../../styles/vars";

.HierarchyTree {
	li {
		list-style-type: none;
		margin: 0;
		padding: 10px 5px 0 5px;
		position: relative;
		&::before,
		&::after {
			content: "";
			left: -20px;
			position: absolute;
			right: auto;
		}
		&::before {
			border-left: 1px solid #999;
			bottom: 50px;
			height: 100%;
			top: 0;
			width: 1px;
		}
		&::after {
			border-top: 1px solid #999;
			height: 20px;
			top: 30px;
			width: 25px;
		}
		span {
			border: 1px solid #999;
			border-radius: 5px;
			display: inline-block;
			padding: 3px 8px;
			text-decoration: none;
		}
		// > span {
		// 	cursor: pointer;
		// }
		&:last-child::before {
			height: 30px;
		}
		// TODO
		span:hover {
			background: #000;
			border: 1px solid #94a0b4;
			color: #000;
			+ ul li span {
				background: #eee;
				border: 1px solid #94a0b4;
				color: #000;
			}
		}
	}
	> ul > li {
		&::before,
		&::after {
			border: 0;
		}
	}
	&_current {
		background-color: $color-primary-tertiary;
		color: $color-white;
		border-radius: 5px;
	}
}
