@import "../../styles/vars";
@import "../../styles/mixins";

.Tooltip {
	$--content-bgColor: $color-primary-secondary;
	--content-separation: 100%;
	&_content {
		color: $color-white;
		position: absolute;
		left: 50%;
		border-radius: $br-common;
		padding: 0.5rem 1rem;
		transform: translate(-50%, -110%);
		background-color: $--content-bgColor;
		line-height: 1;
		z-index: 9998;
		filter: drop-shadow(0 0 0.25rem $--content-bgColor);
	}
	&_arrow {
		display: none;
	}
	@include mediaOver("md") {
		&_content {
			left: var(--content-separation);
			top: 50%;
			transform: translateY(-50%);
		}
		&_arrow {
			--arrow-width: 0.7rem;
			filter: drop-shadow(0 0 0.25rem $--content-bgColor);
			display: block;
			border-right: var(--arrow-width) solid $--content-bgColor;
			border-top: var(--arrow-width) solid transparent;
			border-bottom: var(--arrow-width) solid transparent;
			border-left: none;
			position: absolute;
			left: calc(calc(var(--content-separation) - var(--arrow-width)) + 1px);
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
		}
	}
	&_children {
		text-decoration-line: underline;
		text-decoration-style: dotted;
	}
}
